@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');

body {
    background-color: rgb(248, 226, 218);
    font-size:large;
    font-weight: 200;
    background-image: url(background\ image.jpg);
    text-align: center;
}
h1 {
   font-family: 'Playfair Display', serif; ;
   font-weight: lighter;
   margin-top: 50px;
}
.myname {
    font-size:xx-large;
    font-weight: 400;
}
#info {
    font-weight: 700;
    font-style: oblique;
}
#para1 {
    margin-top: 50px;
    font-weight: 700;
}
.duties {
    margin-left: 110px;
    margin-right: 110px;
}
#telemail {
    text-align: center;
    margin-left: 700px;
    margin-right: 700px;
}